header{
  background-color: rgb(168, 181, 186);
  text-align: center;
  padding: 0.5em;
}
.App {
  min-height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif         
}
a{ 
  padding: 0.2em;
  margin: 0.2em 0.2em;
  color: rgb(43, 49, 51);
  font-size: 14px;
}
h1 {
  color: rgb(43, 49, 51);
  font-size: 26px;
  margin: 0.2em;
}
h2{
  font-size: 20px;
  margin: 0.2em;
  padding: 0.3em;
  text-align: center;
}
img {
  width: 50;
  height: 50%;
}